.product {
    display: flex;
    width: 260px;
    background-repeat: no-repeat;
    background-size: 180px 200px;
    background-position: center 20px;
    padding: 240px 0 0;
    background-color: #fff;
    border-radius: 20px;
}

.product__image {
    width: 100%;
    padding: 15px;
}

.product__text {
    width: 100%;
    background-color: var(--dark__brown);
    border-radius: 0 0 20px 20px;
    color: #fff;
    padding: 20px;
    min-height: 134px;
}

.product__text:hover {
    background-color: var(--brown);
}

.product__title {
    font-size: 18px;
}

.product__description {
    font-size: 14px;
}

.product__about {
    display: flex;
    gap: 10px;
}

.descr__btn {
    max-height: 27px;
    padding: 3px 15px;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    background-color: var(--brown);
    border: 2.5px solid var(--brown);
    transition: all .2s;
}

.descr__btn:hover {
    background-color: var(--light__brown);
    color: var(--dark__brown);
}
.descr__btn:active {
    background-color: var(--light__brown);
    border-color: var(--light__brown);
    color: #fff;
}

.product__price {
    font-weight: 600;
}