.header__categories {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.categories__title {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .7px;
    padding-top: 6px;
    transition: all .2s
}


.header__categories:hover .categories__title {
    color: var(--dark__brown);
}