.home__title {
    cursor: pointer;
    align-self: center;
    color: #fff;
    font-size: 50px;
    line-height: 40px;
    display: block;
    font-weight: 600;
    transition: all .2s;
    padding: 20px 0 5px 60px;
    background-image: url("../../../../assets/images/celline.png");
    background-size: 50px 50px;
    background-position: left center;
    background-repeat: no-repeat;
}


.home__title:hover {
    color: var(--light__brown);
}